* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-size: 16px;
  width: 100vw;
  min-height: 100vh;
}

.scroll-btn {
  padding: 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: bold;
  position: fixed;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  outline: none;
}

.space-arround, .container .ourblog, .container .discount {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  max-width: 80vw;
  min-height: 100vh;
  margin: 0rem auto;
  padding: 0rem 1rem;
  border: 0.1rem solid rgba(51, 51, 51, 0.354);
}

.container .nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem auto;
}
.container .nav .logo span {
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.container .nav ul {
  list-style: none;
}
.container .nav ul li {
  display: inline-block;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}
.container .nav ul li:first-child {
  background-color: red;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
}
.container .nav ul li:last-child {
  background-color: red;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
.container .nav ul li:hover {
  transform: translateX(5px);
}

.container .intro-section {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .intro-section .intro-left {
  width: 48%;
  height: 80vh;
  border: none;
  box-shadow: none;
}
.container .intro-section .intro-left h1 {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 32px;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: justify;
  margin: 3rem auto 1rem;
  letter-spacing: 0.15rem;
  line-height: 2rem;
}
.container .intro-section .intro-left h1 span {
  color: rgb(237, 45, 112);
}
.container .intro-section .intro-left p {
  color: rgba(51, 51, 51, 0.91);
  font-family: "Roboto", sans-serif;
  width: 20rem;
  margin: 0rem auto;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  padding-left: 1rem;
}
.container .intro-section .intro-right {
  width: 48%;
  height: 80vh;
  border: none;
  box-shadow: none;
  overflow: hidden;
}
.container .intro-section .intro-right img {
  width: 100%;
}

.container {
  padding: 0rem;
}
.container .about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.container .about .about-left {
  width: 45%;
  height: 100vh;
  border: 1px solid white;
}
.container .about .about-left h2 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #333;
  margin: 3rem auto 1rem;
  text-align: left;
  width: 20rem;
}
.container .about .about-left p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  color: rgba(51, 51, 51, 0.91);
  max-width: 20rem;
  margin: 1rem auto;
  letter-spacing: 0.1rem;
}
.container .about .about-left button {
  padding: 0.5rem 1rem;
  background-color: rgb(237, 45, 112);
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  display: block;
  margin: 2rem auto;
}
.container .about .about-right {
  width: 45%;
  height: 100vh;
  overflow: hidden;
}
.container .about .about-right img {
  width: 100%;
  display: block;
  margin: 0px auto;
}

.container .products {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 3rem;
  font-family: "Roboto", sans-serif;
}
.container .products .card {
  width: 24%;
  line-height: 1.5rem;
  box-shadow: 0px 0px 5px #333333;
  padding-bottom: 1rem;
}
.container .products .card img {
  width: 100%;
}
.container .products .card h6 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0.5rem auto;
}
.container .products .card .icons {
  text-align: center;
  margin: 0.8rem auto;
  color: #ffd900;
}
.container .products .card .price {
  text-align: center;
  color: #333;
  font-size: 1.2rem;
}
.container .products .card .price span {
  padding: 0.5rem;
  background-color: #ffffff;
}
.container .products .card .price span:first-child {
  color: red;
  text-decoration: line-through;
}
.container .products .card .addtocard {
  width: 100%;
  margin: 1.5rem auto;
  text-align: center;
  color: #333;
  font-size: 1.2rem;
}
.container .products .card .addtocard span {
  padding: 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
}
.container .products .card .addtocard span:first-child {
  color: red;
}

.container .discount {
  width: 100%;
  min-height: 14rem;
  background-color: #ffffff;
}
.container .discount .discount-left {
  width: 45%;
  height: 10rem;
  background-color: #ffd900;
  overflow: hidden;
  position: relative;
}
.container .discount .discount-left img {
  width: 100%;
}
.container .discount .discount-left p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 3rem 2rem;
}
.container .discount .discount-right {
  width: 45%;
  height: 10rem;
  background-color: red;
  overflow: hidden;
  position: relative;
}
.container .discount .discount-right img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
}
.container .discount .discount-right p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  text-align: right;
  padding: 3rem 2rem;
  text-shadow: 0px 0px 5px #ffffff;
}

.container .ourblog {
  margin-top: 5rem;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
}
.container .blog-card {
  width: 30%;
  min-height: 15rem;
  background-color: #ffffff;
}
.container .blog-card img {
  width: 100%;
}
.container .blog-card h3 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem auto;
  padding: 0rem 1rem;
}
.container .blog-card p {
  font-family: "Roboto", sans-serif;
  color: rgba(51, 51, 51, 0.91);
  font-size: 1rem;
  text-align: center;
  line-height: 1.4rem;
  padding: 1rem;
}/*# sourceMappingURL=index.css.map */