$mainFont:'Roboto', sans-serif;
$primaryColor:#333;
$buttonColor:rgb(237, 45, 112);
$secondaryColor:rgba(51, 51, 51, 0.91);
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-size:16px;
    width: 100vw;
    min-height: 100vh;
}
.scroll-btn{
    padding: 8px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: bold;
    position: fixed;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    outline: none;
}
.space-arround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin card($param1,$param2) {
    width:$param1;
    height:$param2;
   
}
.container{
   max-width: 80vw;
    min-height: 100vh;
    margin: 0rem auto;
    padding: 0rem 1rem;
    border: 0.1rem solid rgba(51, 51, 51, 0.354);

}
.container{
    .nav{
     @include flex;
     margin: 0rem auto;
     .logo{
        span{
            font-size: 16px ;
            font-weight: 600;
            font-family: $mainFont;

        }
     }
     ul{
        list-style: none;

        li{
            display: inline-block;
            font-size: 0.8rem;
            font-family: $mainFont;
            padding: 0.5rem 1rem;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.5s ease;
            
            &:first-child{
                background-color: red;
                padding: 1rem 0.5rem;
                border-radius: 0.5rem;
            }
            
            &:last-child{
                background-color: red;
                padding: 0.5rem 2rem;
                border-radius: 0.5rem;

            }
            &:hover {
                transform: translateX(5px);
            }

        }
        
     }


    }
}

.container {
    .intro-section{
        margin-top: 2rem;
        @include flex;
        .intro-left{
            @include card(48%,80vh);
            border: none;
            box-shadow: none;
            h1{
                font-family: $mainFont;
                color: $primaryColor;
                font-size: 32px;
                font-weight:400 ;
                width:fit-content;
                text-align: justify;
                margin: 3rem auto 1rem;
                letter-spacing: 0.15rem;
                line-height: 2rem;
                span{
                    color: $buttonColor;
                }
            }
            p{
             color: $secondaryColor;
             font-family: $mainFont;
             width:20rem;
             margin: 0rem auto;
             letter-spacing: 0.1rem;
             line-height: 1.5rem;
             padding-left: 1rem;
            }
        }
        .intro-right{
            @include card(48%,80vh);
            border: none;
            box-shadow: none;
            overflow: hidden;
            img{
                width: 100%;


            }
        }

    }
}

.container{
    padding: 0rem;
    .about{
        @include flex;
        background-color: #ffffff;
        .about-left{
            width: 45%;
            height: 100vh;
            border: 1px solid white;
            h2{
                font-weight: 500;
                font-family: $mainFont;
                color: $primaryColor;
                margin: 3rem auto 1rem; 
                text-align:left;
                width: 20rem;
            }
            p{
                text-align:justify;
                font-family:$mainFont;
                color: $secondaryColor;
                max-width:20rem;
                margin: 1rem auto;
                letter-spacing: 0.1rem;
            }
            button{
                padding: 0.5rem 1rem ;
                background-color: $buttonColor;
                color: #ffffff;
                font-size: 0.8rem;
                font-weight: 500;
                border-radius:0.5rem;
                outline: none;
                border: none;
                display: block;
                margin:2rem auto;
            }
        }
        .about-right{
            width: 45%;
            height: 100vh;
            overflow: hidden;
            img{
                width: 100%;
                display: block;
                margin: 0px auto;
            }
        }
    }
}

.container {
    .products{
        @include flex;
        width:100%;
        height:100vh;
        padding: 3rem;
        font-family: $mainFont;
        .card {
            width: 24%;
            line-height: 1.5rem;
            box-shadow: 0px 0px 5px #333333;
            padding-bottom:1rem;
            img{
                width: 100%;
            }
            h6{
                font-size: 1.5rem;
                font-weight: 600;
                text-align: center;
                margin: 0.5rem auto;
            }
            .icons{
                text-align: center;
                margin: 0.8rem auto;
                color: #ffd900;
            }
            .price{
                text-align: center;
                color: $primaryColor;
                font-size: 1.2rem;
                span{
                    padding: 0.5rem;
                    background-color: #ffffff;
                    &:first-child{
                        color: red;
                        text-decoration: line-through;
                    }
                }
            }
            .addtocard{
                width: 100%;
                margin: 1.5rem auto;
                text-align: center;
                color: $primaryColor;
                font-size: 1.2rem;
                span{
                    padding: 0.5rem;
                    background-color: #ffffff;
                    cursor: pointer;

                    &:first-child{
                        color: red;
                    }
                }
            }
           
        }
    }
}

.container{
    .discount {
       @extend .space-arround;
       width: 100%;
       min-height:14rem;
       background-color: #ffffff;

       .discount-left {
        width:45%;
        height:10rem;
        background-color: #ffd900;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
        }
        p{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 100;
            padding: 3rem 2rem  ;
        }
       }
       .discount-right{
        width: 45%;
        height: 10rem;
        background-color: red;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            object-position: center;
        }
        p{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 100;
            text-align: right ;
            padding:3rem 2rem;
            text-shadow: 0px 0px 5px #ffffff;
        }
       }

    }
}

.container {
    
    .ourblog{
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
    @extend .space-arround;
    
    }

    .blog-card{
        width: 30%;
        min-height: 15rem;
        background-color: #ffffff;

        img {
            width: 100%;
            
        }
        h3 {
            width: 100%;
            font-family: $mainFont;
            font-size: 1.3rem;
            font-weight: 500;
            text-align: center;
            margin:1rem auto;
            padding: 0rem 1rem;
        }
        p{
            font-family: $mainFont;
            color: $secondaryColor;
            font-size: 1rem;
            text-align: center;
            line-height: 1.4rem;
            padding: 1rem;
        }
    }
   
}


